body{
  margin: 0px;
  background-color: #ec8b5e

}

nav.navbar.navbar-default{
  height: 250px;
  background: none;
  box-shadow: none;
  border: none;
  padding-top: 50px;
  padding-left: 55px;
  padding-right: 100px;
}

.navbar-header a.navbar-brand img{
  height: 115px;
  margin-top: 50px;

}

h2 .font-heading {
  font-family: "Raleway", sans-serif;
}

.section {
  padding: 7rem 0;
}
.filters a {
  color: #000;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}